<div class="menu-wrap">
	<nav class="menu-top z-depth-0 nav-extended transparent">
		<div class="icon-list">
			<a href="#"><i class="fa fa-fw fa-star-o"></i></a>
			<a href="#"><i class="fa fa-fw fa-bell-o"></i></a>
			<a href="#"><i class="fa fa-fw fa-envelope-o"></i></a>
			<a href="#"><i class="fa fa-fw fa-comment-o"></i></a>
		</div>
	</nav>
	<nav class="menu-side z-depth-0 transparent">
		<a class="grey-text lighten-2 elmsln-sidenav-text" href="{{ site.baseurl }}/book-manager"><i class="material-icons elmsln-sidenav-icons left">dns</i>CIS</a>
		<li class="divider"></li>
		<a class="grey-text lighten-2 elmsln-sidenav-text" href="{{ "/profile" | prepend: site.baseurl }}" class="blue-text"><i class="material-icons elmsln-sidenav-icons left">video_library</i>Media</a>
		<a class="grey-text lighten-2 elmsln-sidenav-text" href="{{ "/profile" | prepend: site.baseurl }}" class="blue-text"><i class="material-icons  elmsln-sidenav-icons left">gamepad</i>ICOR</a>
		<a class="grey-text lighten-2 elmsln-sidenav-text" href="{{ "/profile" | prepend: site.baseurl }}" class="blue-text"><i class="material-icons  elmsln-sidenav-icons left">device_hub</i>LOR</a>
		<a class="grey-text lighten-2 elmsln-sidenav-text" href="{{ "/profile" | prepend: site.baseurl }}" class="blue-text"><i class="material-icons elmsln elmsln-sidenav-icons left">L</i>Grades</a>
		<li class="divider"></li>
		<a class="grey-text lighten-2 elmsln-sidenav-text" href="{{ "/profile" | prepend: site.baseurl }}" class="blue-text"><i class="material-icons elmsln-sidenav-icons left">insert_chart</i>Analytics</a>
	</nav>
	<!-- <nav class="menu-side nav-extended transparent z-depth-0 elmslnuserbar">
        <div class="nav-wrapper transparent">
			<ul class="elmsln-admin-nav transparent z-depth-0 fixed">
	            
	            <li class=""><a class="grey-text lighten-2 elmsln-sidenav-text" href="{{ site.baseurl }}/book-manager"><i class="material-icons elmsln elmsln-sidenav-icons left">q</i>CIS</a></li>
	            <li class=""><a class="grey-text lighten-2 elmsln-sidenav-text" href="{{ "/profile" | prepend: site.baseurl }}" class="blue-text"><i class="material-icons elmsln elmsln-sidenav-icons left">T</i>Media</a></li>
	             <li class=""><a class="grey-text lighten-2 elmsln-sidenav-text" href="{{ "/profile" | prepend: site.baseurl }}" class=""><i class="material-icons elmsln-sidenav-icons left no-margin">more_vert</i></a></li>
        	</ul>
        </div>
	</nav> -->
</div>