<div class="row no-margin">
    <div class="col s12 push-s12 push-m0 m6">
        <div class="row no-margin valign-wrapper">
            <div class="valign">
                <a class="elmstitlebar-img" href="{{ site.baseurl }}/" class="blue-text"> {% include dmd-logo-svg.html %}</a>
            </div>
            <div class="elmslntitlebar valign">
                <h2 class="elmslntitlebar-title "><a href="#" class="grey-text text-darken-4">Fundamentals of Digital Multimedia Design</a></h2>
                <h3 class="elmslntitlebar-title "><a href="#" class="grey-text text-darken-4">DMD100</a><a href="#"><span class="title-section grey-text lighten-1">Section Master_DMD100</span></a></h3>
            </div>
        </div>
    </div>
    <div class="col s12 pull-s12 no-padding-s pull-m0 m6 ">
        <nav class="nav-extended z-depth-0 white elmslnuserbar border-t-2-s">
            <a href="#" data-activates="mobile-demo" class="left button-collapse elmsln-user-text grey-text text-darken-4 hide-on-med-and-up padding-10-lr-s"><i class="material-icons elmsln-user-icons left">menu</i>Menu</a>
            <a href="#" data-activates="mobile-demo" class="left button-collapse elmsln-user-text white-text grey darken-4 hide-on-med-and-up no-margin padding-10-tblr-s"><i class="material-icons elmsln elmsln-user-icons left">U</i>Content</a>
            <div class="nav-wrapper">
                <!-- Dropdown Menu -->
                <ul id="dropdown1" class="dropdown-content">
                    <li><a href="#!">Profile Settings</a></li>
                    <li><a href="#!">Accessibility</a></li>
                    <li class="divider"></li>
                    <li><a href="#!">Admin</a></li>
                </ul>
                <!-- Identical Dropdown Menu to Above -->
                <ul id="dropdown2" class="dropdown-content">
                    <li><a href="#!">Profile Settings</a></li>
                    <li><a href="#!">Accessibility</a></li>
                    <li class="divider"></li>
                    <li><a href="#!">Admin</a></li>
                </ul>
                
                <ul id="nav-mobile" class="right hide-on-small-and-down">
                    <li class="hide-on-med-only"><a href="sass.html" class="grey-text text-darken-4 elmsln-user-text"><i class="material-icons elmsln-user-icons left">info_outline</i>Syllabus</a></li>
                     <li class="hide-on-large-only"><a href="sass.html" class="grey-text text-darken-4 elmsln-user-text"><i class="material-icons margin-5-m padding-5-m">info_outline</i></a></li>

                    <li class="hide-on-med-only"><a href="badges.html" class="grey-text text-darken-4 elmsln-user-text"><i class="material-icons elmsln-user-icons left">local_library</i>Resources</a></li>
                    <li class="hide-on-large-only"><a href="badges.html" class="grey-text text-darken-4 elmsln-user-text"><i class="material-icons margin-5-m padding-5-m">local_library</i></a></li>

                    <li class="hide-on-med-only"><a href="badges.html" class="grey-text text-darken-4 elmsln-user-text"><i class="material-icons elmsln-user-icons left">help</i>Help</a></li>
                    <li class="hide-on-large-only"><a href="badges.html" class="grey-text text-darken-4 elmsln-user-text"><i class="material-icons margin-5-m padding-5-m">help</i></a></li>

                    <li class="hide-on-med-only"><a class="dropdown-button grey-text text-darken-4 elmsln-user-text" href="#!" data-activates="dropdown1"><i class="material-icons elmsln-user-img radius-4 left"><img src="https://unsplash.it/64.jpg" alt="" class=""></i>Michael<i class="material-icons elmsln-user-icons right">keyboard_arrow_down</i></a></li>
                    <li class="hide-on-large-only"><a class="dropdown-button grey-text text-darken-4 elmsln-user-text padding-5-m" href="#!" data-activates="dropdown2"><i class="material-icons elmsln-user-img radius-4 margin-5-m left"><img src="https://unsplash.it/64.jpg" alt="" class=""></i><i class="material-icons elmsln-user-icons margin-5-m right">keyboard_arrow_down</i></a></li>

                </ul>
                <ul class="side-nav border-r-2-s" id="mobile-demo">
                    <!-- User Menu-->
                    <li><a href="collapsible.html" class="grey-text text-darken-4 elmsln-sidenav-text"><i class="material-icons elmsln-sidenav-img radius-4 left"><img src="https://unsplash.it/32.jpg" alt="" class=""></i>Michael</a></li>
                    <li class="divider"></li>
                    <li><a href="sass.html" class="grey-text text-darken-4 elmsln-sidenav-text"><i class="material-icons elmsln-sidenav-icons left">info_outline</i>Syllabus</a></li>
                    <li><a href="sass.html" class="grey-text text-darken-4 elmsln-sidenav-text"><i class="material-icons elmsln-sidenav-icons left">local_library</i>Resources</a></li>
                    <li><a href="badges.html" class="grey-text text-darken-4 elmsln-sidenav-text"><i class="material-icons elmsln-sidenav-icons left">help</i>Help</a></li>
                    <!-- Network Tools-->
                    <li class="is-active"><a class="white-text elmsln-sidenav-text" href="{{ "/outline" | prepend: site.baseurl }}" class="blue-text"><i class="material-icons elmsln elmsln-sidenav-icons left">x</i>Lessons</a></li>
                    <li class=""><a class="grey-text text-darken-4 elmsln-sidenav-text" href="{{ "/studio" | prepend: site.baseurl }}" class="blue-text"><i class="material-icons elmsln elmsln-sidenav-icons left">r</i>Content</a></li>
                    <li class=""><a class="grey-text text-darken-4 elmsln-sidenav-text" href="{{ "/studio" | prepend: site.baseurl }}" class="blue-text"><i class="material-icons elmsln elmsln-sidenav-icons left">r</i>Studio</a></li>
                    <li class=""><a class="grey-text text-darken-4 elmsln-sidenav-text" href="{{ "/crit" | prepend: site.baseurl }}" class="blue-text"><i class="material-icons elmsln elmsln-sidenav-icons left">A</i>Discussions</a></li>
                    <li class=""><a class="grey-text text-darken-4 elmsln-sidenav-text" href="{{ "/forum" | prepend: site.baseurl }}" class="blue-text"><i class="material-icons elmsln elmsln-sidenav-icons left">a</i>Forum</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<div class="row border-bottom-2 border-top-1 hide-on-small-only">
    <div class="m12 col">
        <nav class="z-depth-0 white elmslntoolbar">
            
                <ul class="left">
                    
                    <li class="is-active"><a class="white-text elmsln-tools-text" href="{{ "/outline" | prepend: site.baseurl }}" class="blue-text">Lessons</a></li>
                    <li class=""><a class="grey-text text-darken-4 elmsln-tools-text" href="{{ "/content" | prepend: site.baseurl }}" class="blue-text">content</a></li>
                    <li class=""><a class="grey-text text-darken-4 elmsln-tools-text" href="{{ "/book" | prepend: site.baseurl }}" class="blue-text">workflows</a></li>
                    <li class=""><a class="grey-text text-darken-4 elmsln-tools-text" href="{{ "/studio" | prepend: site.baseurl }}" class="blue-text">Studio</a></li>
                    <li class=""><a class="grey-text text-darken-4 elmsln-tools-text" href="{{ "/crit" | prepend: site.baseurl }}" class="blue-text">Discussions</a></li>
                    <li class=""><a class="grey-text text-darken-4 elmsln-tools-text" href="{{ "/forum" | prepend: site.baseurl }}" class="blue-text">Forum</a></li>
                    <li class="hide-on-large-only"><a class="grey-text darken-2 elmsln-tools-text" href="{{ "#" | prepend: site.baseurl }}" class=""><i class="elmsln-tools-icons left no-margin">more_vert</i></a></li>
                </ul>
            
        </nav>
    </div>
</div>

