<div class="row no-margin">
    <div class="col s12 push-s12 push-m0 m6 ">
        <div class="row no-margin valign-wrapper">
            <div class="valign">
               <img src="https://unsplash.it/32.jpg" alt="" class="">
            </div>
            <div class="elmslntitlebar valign">
                <h2 class="elmslntitlebar-title "><a href="#" class="grey-text text-darken-4">Michael Collins</a></h2>
                <h3 class="elmslntitlebar-title "><a href="#" class="grey-text text-darken-4">Inbox</a><a href="#"><span class="title-section grey-text lighten-1">Student</span></a></h3>
            </div>
        </div>
    </div>
</div> 
<div class="row border-bottom-2 border-top-1 hide-on-small-only">
    <div class="m12 col">
        <nav class="z-depth-0 white elmslntoolbar">
            
                <ul class="left">
                    <li class="is-active"><a class="white-text elmsln-tools-text" href="{{ "/outline" | prepend: site.baseurl }}" class="blue-text"><i class="material-icons elmsln-tools-icons left">person</i>Profile</a></li>
                    <li class=""><a class="grey-text text-darken-4 elmsln-tools-text" href="{{ "/forum" | prepend: site.baseurl }}" class="blue-text"><i class="material-icons elmsln elmsln-tools-icons left">L</i>Grades</a></li>
                    <li class=""><a class="grey-text text-darken-4 elmsln-tools-text" href="{{ "/outline" | prepend: site.baseurl }}" class="blue-text"><i class="material-icons elmsln elmsln-tools-icons left">x</i>Courses</a></li>
                    <li class=""><a class="grey-text text-darken-4 elmsln-tools-text" href="{{ "/outline" | prepend: site.baseurl }}" class="blue-text"><i class="material-icons elmsln elmsln-tools-icons left">p</i>Badges</a></li>
                    <li class=""><a class="grey-text text-darken-4 elmsln-tools-text" href="{{ "/studio" | prepend: site.baseurl }}" class="blue-text"><i class="material-icons  elmsln-tools-icons left">notifications_none</i>Messages</a></li>
                    <li class=""><a class="grey-text text-darken-4 elmsln-tools-text" href="{{ "/crit" | prepend: site.baseurl }}" class="blue-text"><i class="material-icons  elmsln-tools-icons left">event</i>Calendar</a></li>
                    
                    <li class="hide-on-large-only"><a class="grey-text darken-2 elmsln-tools-text" href="{{ "/profile" | prepend: site.baseurl }}" class=""><i class="material-icons elmsln-tools-icons left no-margin">more_vert</i></a></li>
                </ul>
            
        </nav>
    </div>
</div>

