<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    <div class="elmsln-container darken-4">
        {% include admin-nav.html %}
        <div class="elmsln-content-wrap no-scroll-y">
            <div class="parallax-container">
                <!-- Start Admin bar -->
                <nav class="nav-extended z-depth-0 transparent admin-bar">
                    <ul>
                        <li><a class="white menu-button grey-text text-darken-4 elmsln-tools-text " id="open-button"><i id="ob-icon-close" class="material-icons elmsln-tools-icons left">keyboard_arrow_left</i><i id="ob-icon-open" class="material-icons elmsln-tools-icons left hide">close</i>Course Management</a></li>
                    </ul>
                </nav>
                <!-- End Admin bar -->
                <div class="parallax grey darken-4"><img src="http://unsplash.it/1200/300/?image=893"></div>
            </div>
            <div class="elmsln-content white">
                <header>
                    {% include header.html %}
                </header>
                <main>
                    {{ content }}
                </main>
                <footer class="page-footer no-margin __top blue">
                    {% include footer.html %}
                </footer>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ "/assets/js/jquery.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/assets/js/materialize.js" | prepend: site.baseurl }}"></script>
     <script type="text/javascript" src="{{ "/assets/js/scripts.js" | prepend: site.baseurl }}"></script>
     <script type="text/javascript" src="{{ "/assets/js/topslide/main.js" | prepend: site.baseurl }}"></script>
     <script type="text/javascript" src="{{ "/assets/js/topslide/classie.js" | prepend: site.baseurl }}"></script>
     
    <script type="text/javascript">
    $(function() {

        //fontawesome broken-heart icon
        var faFlash=$('footer').css('background-color'),
            faFlash='color:'+faFlash+';transform:scale(1,2);-webkit-transform:scale(1,2);-moz-transform:scale(1,2);-ms-transform:scale(1,2);-o-transform:scale(1,2)';
        $('i.fa.fa-broken-heart').html('<span style="padding:5px"><span class="fa-broken-heart fa-stack"><i class="fa fa-heart fa-stack-2x"></i><i class="fa fa-flash fa-stack-1x" style="'+faFlash+'"></i></span></span>');
        $(".button-collapse").sideNav();
        $('nav a').addClass('waves-effect');
    });
    </script>
</body>
</html>
